body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #212121;
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  padding: 0;
  outline: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
}

@media (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

a,
button {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

svg {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section__title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 34px;
  }
}

.header {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ececec;
}

@media (max-width: 767.98px) {
  .header__logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

@media (max-width: 767.98px) {
  .header__site-nav {
    margin-bottom: 302px;
  }
}

@media (max-width: 767.98px) {
  .header__contact-list {
    margin-bottom: 64px;
  }
}

.container__header {
  position: relative;
}

@media (min-width: 768px) {
  .container__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .site-nav {
    margin-right: 84px;
  }
}

@media (min-width: 1200px) {
  .site-nav {
    margin-right: 305px;
  }
}

@media (max-width: 767.98px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  display: block;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

@media (max-width: 767.98px) {
  .site-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media (min-width: 768px) {
  .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.site-nav__link--current {
  position: relative;
  color: #2196f3;
}

@media (min-width: 768px) {
  .site-nav__link--current::after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767.98px) {
  .contact-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 100px;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .contact-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .contact-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .contact-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contact-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .contact-list__link {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

@media (min-width: 768px) {
  .contact-list__link {
    color: #757575;
  }
}

@media (min-width: 1200px) {
  .contact-list__link {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact-list__link:hover, .contact-list__link:focus {
  color: #2196f3;
}

@media (max-width: 767.98px) {
  .contact-list__link--font-main {
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .contact-list__link--font-add {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.contact-list__icon {
  fill: currentColor;
}

@media (max-width: 767.98px) {
  .contact-list__icon {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .contact-list__icon {
    margin-right: 8px;
  }
}

@media (min-width: 1200px) {
  .contact-list__icon {
    margin-right: 10px;
  }
}

.logo {
  display: inline-block;
  color: #212121;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.logo__title {
  color: #2196f3;
}

.hero {
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/img/herobcg480.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/herobcg480.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/img/herobcg480x2.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/herobcg480x2.jpg);
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/img/herobcg768.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/herobcg768.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/img/herobcg768x2.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/herobcg768x2.jpg);
  }
}

@media (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/img/herobcg1600.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/herobcg1600.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/img/herobcg1600x2.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/herobcg1600x2.jpg);
  }
}

.hero__title {
  margin: auto;
  margin-bottom: 30px;
  max-width: 360px;
  text-align: center;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.button--order {
  padding: 10px 32px;
}

@media (max-width: 280px) {
  .button--order {
    padding: 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
  overflow-y: scroll;
}

@media (max-width: 767.98px) {
  .backdrop {
    padding: 94px 15px;
  }
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 40px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  max-width: 450px;
  min-height: 609px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media (max-width: 767.98px) {
  .modal {
    margin: auto;
  }
}

@media (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@media (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
}

.backdrop--hidden .modal {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (min-width: 768px) {
  .backdrop--hidden .modal {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__icon {
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon:hover, .modal__icon:focus {
  fill: #2196f3;
}

.modal__text {
  margin-bottom: 12px;
  max-width: 370px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 370px;
}

@media (min-width: 1200px) {
  .input-form {
    max-width: 448px;
  }
}

.input-field {
  position: relative;
  margin-bottom: 10px;
}

.input-field__label {
  display: block;
  margin-bottom: 4px;
  text-align: left;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.input-field__input {
  width: 100%;
  padding: 10px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field__input:focus {
  border-color: #2196f3;
}

.input-field__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field__input:focus + .input-field__icon {
  fill: #2196f3;
}

.commentary-field {
  position: relative;
}

.commentary-field__label {
  display: block;
  margin-bottom: 4px;
  text-align: left;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.commentary-field__textarea {
  display: block;
  padding: 12px 16px;
  resize: none;
  width: 100%;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.commentary-field__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.commentary-field__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.commentary-field__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.commentary-field__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.commentary-field__textarea:focus {
  border-color: #2196f3;
}

.custom-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 34px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}

.custom-checkbox__input--visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.custom-checkbox__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox__input:checked + .custom-checkbox__icon {
  background-color: #2196f3;
  border-color: transparent;
}

.custom-checkbox__label {
  margin-left: 7px;
}

.custom-checkbox__link {
  color: #2196f3;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  cursor: pointer;
  border-radius: 4px;
}

.button--send {
  max-width: 200px;
  padding: 10px 55px;
}

@media (max-width: 280px) {
  .button--send {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media (max-width: 767.98px) {
  .article__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .article__item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .article__item {
    margin: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .article__item {
    width: calc((100% - 60px) / 2);
  }
}

@media (min-width: 1200px) {
  .article__item {
    width: calc((100% - 120px) / 4);
  }
}

.article__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.article__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media (max-width: 767.98px) {
  .article__title {
    text-align: center;
  }
}

.article__text {
  margin-bottom: 0;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section--zero-padding {
  padding-top: 0;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px;
}

.works-item {
  position: relative;
  width: calc((100%-90px) / 3);
  margin: 15px;
}

.works-item__thumb {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 370px;
  min-height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.works-item__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.section--background {
  background-color: #f5f4fa;
}

@media (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media (max-width: 767.98px) {
  .team-item {
    width: 100%;
    margin-bottom: 30px;
  }
  .team-item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .team-item {
    margin: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .team-item {
    width: calc((100% - 60px) / 2);
  }
}

@media (min-width: 1200px) {
  .team-item {
    width: calc((100% - 120px) / 4);
  }
}

.team-item__title-block {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media (min-width: 1200px) {
  .team-item__title-block {
    padding-bottom: 30px;
  }
}

.team-item__title {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-item__title--main {
  margin-bottom: 10px;
  font-weight: 500;
}

.team-item__title--add {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  color: #757575;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  padding-bottom: 0;
}

.social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item__link:hover, .social-item__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social-item__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.clients-item {
  margin: 15px;
}

@media (max-width: 767.98px) {
  .clients-item {
    width: calc((100% - 60px) / 2);
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .clients-item {
    width: calc((100% - 90px) / 3);
  }
}

@media (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 180px) / 6);
  }
}

.clients-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #afb1b8;
}

.clients-item__link:hover, .clients-item__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.clients-item__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer-section {
  padding: 60px 0;
  background-color: #2f303a;
}

@media (min-width: 768px) {
  .footer-section__contact-join-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer-section__contact-join-block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 60px;
  }
}

@media (max-width: 767.98px) {
  .footer-section__join {
    margin: 60px 0;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer-section__join {
    padding-top: 5px;
  }
}

@media (min-width: 1200px) {
  .container--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer-section__contact-join-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .footer-section__join {
    margin-left: 70px;
  }
  .footer-section__subscription {
    margin-left: 93px;
  }
}

@media (max-width: 1199.98px) {
  .contact-block {
    text-align: center;
  }
}

.contact-block__logo {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.adress__item:not(:last-child) {
  margin-bottom: 8px;
}

.adress__link {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.adress__link--main {
  color: #ffffff;
}

.adress__link--add {
  color: rgba(255, 255, 255, 0.6);
}

.adress__link:hover, .adress__link:focus {
  color: #2196f3;
}

@media (max-width: 1199.98px) {
  .join {
    text-align: center;
  }
}

.join__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-item__link--join {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-item__link--join:hover, .social-item__link--join:focus {
  background-color: #2196f3;
}

.social-item__icon--join {
  fill: #ffffff;
}

@media (max-width: 1199.98px) {
  .subscription {
    text-align: center;
  }
  .subscription__button--subscription {
    margin: auto;
  }
  .subscription__input {
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .subscription__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscription__input {
    margin-right: 12px;
  }
}

.subscription__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscription__input {
  padding: 15px 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media (max-width: 767.98px) {
  .subscription__input {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .subscription__input {
    min-width: 450px;
  }
}

@media (min-width: 1200px) {
  .subscription__input {
    min-width: 358px;
  }
}

.button--subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 29px;
}

@media (max-width: 280px) {
  .button--subscription {
    padding: 0;
  }
}

.button--subscription__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

@media (max-width: 767.98px) {
  .section__filter {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .section__filter {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .section__filter {
    margin-bottom: 50px;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filter__item {
  margin-right: 8px;
}

@media (max-width: 767.98px) {
  .filter__item {
    margin-bottom: 15px;
  }
}

.filter__item:last-child {
  margin-right: 0;
}

.filter__item:nth-last-child(-n + 2) {
  margin-bottom: 0px;
}

.filter__button {
  padding: 6px 22px;
  border-radius: 4px;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #2196f3;
  color: #ffffff;
}

@media (min-width: 768px) {
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media (min-width: 768px) {
  .grid__item {
    margin: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .grid__item {
    width: calc((100% - 60px) / 2);
  }
}

@media (min-width: 1200px) {
  .grid__item {
    width: calc((100% - 90px) / 3);
  }
}

@media (max-width: 767.98px) {
  .grid__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.product {
  height: 100%;
}

.product__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__link:hover, .product__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__link:hover .product__overlay,
.product__link:focus .product__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.product__thumb {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  -webkit-transform: translateY(294px);
          transform: translateY(294px);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
}

.product__overlay-text {
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  overflow-wrap: break-word;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .product__overlay-text {
    padding: 49px 24px;
  }
}

@media (min-width: 1200px) {
  .product__overlay-text {
    padding: 63px 24px;
  }
}

@media (min-width: 100px) and (max-width: 420px) {
  .product__overlay-text {
    font-size: 16px;
    padding: 40px 24px;
  }
}

.product__text-box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: inherit;
}

.product__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product__description {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

@media (max-width: 1199.98px) {
  .section-hidden {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .menu-container {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 48px 40px;
    width: 100%;
    background: #ffffff;
    -webkit-transform: translateY(-800px);
            transform: translateY(-800px);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-container.is-open {
    display: block;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .menu-container__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu-container__socials-item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .menu-container__socials-link {
    color: #2196f3;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
}

@media (min-width: 768px) {
  .menu-container__socials-link {
    display: none;
  }
}

@media (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-button {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 0;
  border: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
/*# sourceMappingURL=main.css.map */