.adress__item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
.adress__link {
  display: block;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $primary-background;

  &--main {
    color: $primary-adress-color;
  }

  &--add {
    color: $secondary-adress-color;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
