.contact-block__logo {
  display: block;
  margin-bottom: 20px;

  text-decoration: none;
  color: $primary-background;

  font-family: $logo-font-family;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
