.hero {
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1600px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: #c4c4c4;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/herobcg480.jpg);

  @include viewport($range: retina) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/herobcg480x2.jpg);
  }

  @include viewport($range: tablet) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/herobcg768.jpg);

    @include viewport($range: retina) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/herobcg768x2.jpg);
    }
  }

  @include viewport($range: desktop) {
    padding: 200px 0;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/herobcg1600.jpg);

    @include viewport($range: retina) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/herobcg1600x2.jpg);
    }
  }
}

.hero__title {
  margin: auto;
  margin-bottom: 30px;
  max-width: 360px;
  text-align: center;

  color: $primary-background;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @include viewport($range: desktop) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
