.header {
  border-bottom: 1px solid #ececec;
}

.header__site-nav {
  margin-left: 93px;
}

.header__contact-list {
  margin-left: auto;
}

.container__header {
  display: flex;
  align-items: center;
}
