.button--subscription {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 29px;

  @media (max-width: 280px) {
    padding: 0;
  }
}

.button--subscription__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
