@include viewport($range: notDesktop) {
  .subscription {
    text-align: center;
  }

  .subscription__button--subscription {
    margin: auto;
  }

  .subscription__input {
    margin-bottom: 20px;
  }
}

@include viewport($range: desktop) {
  .subscription__form {
    display: flex;
    align-items: center;
  }

  .subscription__input {
    margin-right: 12px;
  }
}

.subscription__title {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscription__input {
  padding: 15px 16px;

  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  @include viewport($range: mobile-only) {
    width: 100%;
  }

  @include viewport($range: tablet-only) {
    min-width: 450px;
  }

  @include viewport($range: desktop) {
    min-width: 358px;
  }
}
