.works-item {
  position: relative;
  width: calc((100%-90px) / 3);
  margin: 15px;
}

.works-item__thumb {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 370px;
  min-height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.works-item__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
