$accent-color: #2196f3;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$primary-background: #ffffff;
$secondary-background: #2f303a;
$logo-font-family: Raleway, sans-serif;
$button-color: #ffffff;
$animations-function-time: cubic-bezier(0.4, 0, 0.2, 1);
